body {
    margin-top: 0px;
    margin-bottom: 100px;
    font-family: 'Segoe UI', Tahoma, Verdana;
    background-color:rgb(255, 255, 255)     
}

p {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Verdana; 
    font-size: 100%;
    margin-left: 200px;
    font-weight: lighter;
    color: rgb(0, 0, 0); 
    line-height: 1;
}

b {
    font-family: inherit;
    font-weight: 500;
}

h1 {
    text-align: left;
    font-size:200%;
    font-family: 'Segoe UI', Tahoma, Verdana;
    margin-left: 200px;
    padding-top: 10px;
    font-weight:400;
}


h2 {
    text-align: left;
    font-size:150%;
    font-family: 'Segoe UI', Tahoma, Verdana;
    margin-left: 200px;
    padding-top: 10px;
    font-weight: 400;
}

h3 {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Verdana;
    font-size: 150%;
    margin-left: 200px;
    font-weight: 400;  
}

h4 {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Verdana;
    font-size: 100%;
    margin-left: 200px;
    font-weight: 400;
}

.line {
    margin-top: 3px;
    border-top: 1px solid rgb(219, 219, 219);
    margin-left: 200px;
    max-width: 100%;
}

.ul_b {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Verdana;
    font-weight: lighter;
    color: rgb(43, 37, 37);  
}

.ul_a {
    list-style-type: circle;
    margin-left: 70px;
}

.ul_c {
    list-style-type: none;
    background-color: #e7eeee; 
}


.header {
    max-width: 85%;
    text-align: left;
}

li {
    margin-left: 200px;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Verdana;
    font-weight: lighter;
}

table {
    margin-left: 200px;
    border-collapse: collapse; 
    border: 1px solid rgb(0, 0, 0); 
}

th {
    border: 1px solid rgb(0, 0, 0); 
    padding: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-align: center;
}

td, .ul_c {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

nav {
    top: 0;
    width: 100%;
    padding-top: 30px;
}

nav div {
    max-width: 75%;
    margin-left: 200px;
    background-color: #e7eeee;
}
nav ul {
    border: 1px solid rgb(0, 0, 0);  
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:space-around;
}

nav ul li {
    display: inline;
    margin: 0; 
}

nav ul li a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    padding: 10px 15px; 
    display: block;
    font-size: 18px; 
}
nav ul li a:hover {
    background-color: #99bdb4;
}

/*Mobiilityylit*/

@media only screen and (max-width: 850px) {

    /* Asetetaan elementit allekkain */

    header,
    header > nav
    {
        display: block;
        float: none;
        height: auto;
        width: 100%;
        text-align: center;
        clear: both;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li a {
        padding: 3px 16px;
    }

    .header, p, ul, li, h1, h2, h3, h4, table {
        margin-left: 0;
        text-align: left;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: 400;
    }

    .line {
        margin-left: 0;
        width: 90%;
        margin: 0 auto;
    }

    nav div {                   
        max-width: 100%;        
        margin-left: 0;
        text-align: center;
    }
}